:root {
  --voteYes: #aaf683;
  --voteYesDark: #62EE1B;
  --voteYesDarker: #33850A;
  --voteAbs: #ffd97d;
  --voteAbsDark: #FFB60A;
  --voteAbsDarker: #8F6400;
  --voteNo: #ff9b85;
  --voteNoDark: #FF370A;
  --voteNoDarker: #8F1A00;
  --voteNon: #EBEBEB;
  --voteNonDark: #B8B8B8;
  --voteNonDarker: #7A7A7A;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* TODO move css to better place */
.marks .sphere {
  fill: silver
}
.marks .borders {
  fill: none;
  stroke: #d9dfe0;
}
.marks .graticules {
  fill: none;
  stroke: #ececec;
}
circle {
  fill: #137B80;
  opacity: 0.3;
}