.sphere,
.graticules {
  stroke: #d1d1d1;
}

.sphere {
  fill: white;
}

.graticules {
  fill: none;
}

.borders {
  fill: none;
  stroke: #4f4f4f;
  stroke-width: 0.5px;
}

.Y {
  fill: var(--voteYes);
}
.N {
  fill: var(--voteNo);
}
.A {
  fill: var(--voteAbs);
}
.Non-Voting {
  fill: var(--voteNon);
}
.noData {
  fill: var(--noData);
}

.map {
  margin-top: 20px;
}

.marker {
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--noData);
}

.notice {
  font-style: italic;
  font-size: 0.8rem;
  text-align: end;
}
